@{
    ViewBag.Title = "Index";
}

<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Wiki.Down</h1>
            <p class="lead">Bringing the Wiki back down to basics</p>
            
        </div>
    </div>
</div>        
