@model wiki_down.content.server.viewmodels.ArticleContentViewModel

@{
    ViewBag.Title = Model.Title;
}

<div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>

