@model wiki_down.content.server.viewmodels.ArticleContentViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="row" id="articleReaderContainer" style="display: inline" data-articleglobalid="@Model.GlobalId" data-articlepath="@Model.Path">
    <div class="col-lg-12">
        @Html.Raw(Model.Content)
    </div>
</div>
<div class="overlay" id="articleMetaContainer" style="display: none;min-height:600px">



</div>
<div class="overlay" id="articleEditorContainer" style="display: none">

</div>


