
@{
    ViewBag.Title = "Index";
}

<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>The Editor</h1>
            <p class="lead">Content is King, but appearances do matter</p>
            <p>So knowing what your content will look like is important. The Wiki.Down live markdown editor makes it simple
            to work on your Wikis content whilst being confident in it's rendering.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <p>
                <button class="btn btn-success" data-edit-article-id="WikiDown_DemoPage">Try It Now!</button>
            </p>
        </div>
    </div>
</div>   

